<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/dropdown.css">
    <link rel="stylesheet" href="../public/css/Autores.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="../index.html">Inicial</a>
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Gêneros mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>

    <main>

        <h1>Conheça os autores mais vendidos!</h1>


        <div class="autores">


            <div class="anneF box-autores">
                <h2>Anne Frank</h2>
                <p> <img id="Anne" src=" https://cdn.pensador.com/img/authors/an/ne/anne-frank-2-l.jpg">
                    Anne Frank (1929-1945) foi uma jovem judia vítima do nazismo. Morreu no campo de concentração de
                    Bergen-Belsen, na Alemanha, deixando escrito um diário, que foi publicado por seu pai, sobrevivente
                    do
                    campo de concentração de Auschwitz (Polônia), intitulado "O Diário de Anne Frank".
                    <br>
                    Anne Marie Frank nasceu em Frankfurt, Alemanha, no dia 12 de junho de 1929. Filha dos judeus, Otto
                    Frank
                    e de Edith Holländer Frank, em 1933, saiu da Alemanha com a família, para fugir das leis de Hitler
                    contra os judeus.
                    <br>
                    A família emigrou para a Holanda, onde seu pai se tornou diretor administrativo de uma empresa que
                    fabricava produtos para fazer geleia. Anne e a irmã Margot estudaram na escola Montessori e depois
                    foram
                    para o Liceu Israelita.
                    <br>
                    Durante a Segunda Guerra Mundial, em maio de 1940, a Holanda foi invadida pelos nazistas, época que
                    começaram as restrições contra os judeus com uma série de decretos anti semitas: deviam usar uma
                    estrela
                    amarela de identificação e eram submetidos a diversas proibições, como andar nos bondes, de
                    frequentar
                    teatros, cinemas ou qualquer outra forma de diversão etc.
                    <br>No dia 12 de junho de 1942, quando completou 13 anos de idade, Anne ganhou um diário e nesse
                    mesmo
                    dia
                    começou a escrever o seu cotidiano.
                    <br>
                    No dia 9 de julho de 1942, para não ser presa, a família de Anne Frank se mudou para um esconderijo,
                    localizado na Prinsengracht, 263, com mais quatro judeus, nos fundos da fábrica onde Otto Frank
                    trabalhava. A família permaneceu ali até 04 de agosto de 1944.
                    <br>Na manhã de 04 de agosto de 1944, o esconderijo onde estava a família de Anne Frank foi invadido
                    pela
                    Gestapo e as oito pessoas foram levadas para uma prisão em Amsterdã, depois foram transferidos para
                    Westerbork, um campo de triagem.
                    <br> Em 03 de setembro foram deportados e chegaram a Auschwitz (Polônia). Edith Frank morreu em
                    Auschwitz-Birkenau em 6 de janeiro de 1945, de fome e exaustão.
                    Anne e sua irmã foram levadas para Bergen-Belsen, campo de concentração perto de Hannover
                    (Alemanha). A
                    epidemia de tifo que assolou o local no inverno e resultou em terríveis condições de higiene, matou
                    milhares de prisioneiros, inclusive Margot, e alguns dias depois, Anne.
                    <br>
                    Anne Frank faleceu em Bergen-Belsen, Alemanha, provavelmente em 12 de março de 1945, com apenas 15
                    anos
                    de idade.
                    <br>
                    O pai de Anne, Otto Frank, foi o único dos oito amigos a sobreviver aos campos de concentração. Foi
                    libertado pelas tropas russas. Chegou a Amsterdã em 3 de junho de 1945, onde ficou até 1953.
                    <br>
                    O Diário de Anne Frank, escrito entre 12 de junho de 1942 e 1 de agosto de 1944, onde ela se dirige
                    a
                    sua querida Kitty, uma amiga imaginária, para contar o cotidiano de sua vida e o período de reclusão
                    no
                    esconderijo, constituiu um comovente testemunho desse tempo de terror e perseguição.
                    <br>
                    Depois de muito esforço, os escritos de Anne Frank foram publicados por seu pai, em 1947, com o
                    título
                    “O Diário de Anne Frank”.O livro foi traduzido em mais de 30 idiomas. O filme biográfico “O Diário
                    de
                    Anne Frank'' foi lançado em 1959 e recebeu 3 premiações do Oscar. O local do esconderijo de Anne
                    Frank,
                    em Amsterdã, é hoje um museu chamado "Casa de Anne Frank”, inaugurado em 3 de maio de 1960.
                </p>
            </div>

            <hr>

            <div class="Jk box-autores">
                <h2>
                    J.K. Rowling
                </h2>

                <p><img id="Jkimg" src="https://www.joaonunes.com/wordpress/wp-content/uploads/jkrowling.jpg">
                    Joanne "Jo" Rowling, mais conhecida como J.K é uma escritora britânica, autora da série "Harry
                    Potter",
                    que conquistou o público jovem e vendeu milhões de exemplares. Nasceu em Yate, Inglaterra, no dia 31
                    de
                    julho de 1965. Filha de Peter James Rowling e de Anne Volant passou sua infância na cidade de
                    Chepstow.
                    <br>
                    J. K. Rowling estudou Línguas Clássicas e Literatura Francesa na Universidade de Exeter. Passou um
                    ano
                    na França fazendo curso de especialização. De volta à Inglaterra trabalhou como pesquisadora da
                    Anistia
                    Internacional em Londres.
                    <br>Durante uma viagem de trem entre Manchester e King 's Cross ela começou a escrever Harry Potter.
                    Em 1991 deixou o cargo de pesquisadora e foi morar em Porto, Portugal para lecionar inglês, mas não
                    parou
                    de escrever.
                    <br>
                    Frequentava a famosa "Livraria Lello", localizada no centro histórico da cidade, inaugurada em 1906,
                    onde deu continuidade às histórias. A livraria serviu de inspiração para Rowling criar “Floreios e
                    Borrões", o lugar onde os pequenos magos compravam os livros escolares para Hogwarts.
                    <br>
                    Depois de 18 meses, ela conheceu o português Jorge Arantes. Eles se casaram em 16 de outubro de
                    1992. Em
                    julho de 1993 nasceu Jessica. Em novembro o casal se separou. Em dezembro, Rowling e sua filha se
                    mudam
                    para Edimburgo, na Escócia, onde morava sua irmã. Nessa época, sem trabalho, recorreu à ajuda
                    social.
                    <br>
                    Depois de ter sido recusado por várias editoras, a obra foi aceita pela editora Bloomsbury e
                    publicada
                    em 26 de junho de 1997.
                    <br>
                    Joanne Rowling, seu nome de nascença, recebeu um "K" de Kathleen, nome de sua avó paterna, assinando
                    suas histórias como J.K. Rowling.
                </p>
                <h3>
                    Prêmios recebidos:
                </h3>
                <p>
                    Autora do Ano de 2000 pela British Awards, <br>
                    A Ordem do Império Britânico 2001,<br>
                    Príncipe de Astúrias para a Concórdia, Espanha, 2003, <br>
                    The Edinburgh Awards 2008, <br>
                    Título de Cavaleiro da Ordem da Legião de Honra, França, 2009, <br>
                    Foi eleita pela Enciclopédia Britânica uma das 300 mulheres que mudaram o mundo.
                </p>
            </div>

            <hr>

            <div class="JoJo box-autores">
                <h2>
                    Jojo Moyes
                </h2>

                <p><img id="Jojoimg" src="https://www.intrinseca.com.br/jojomoyes/_img/jojo-moyes2.jpg">
                    Pauline Sara Jo Moyes, mais conhecida como Jojo Moyes nasceu em 1969 e cresceu em Londres. Se formou
                    nas
                    universidades Royal Holloway e na University of London.
                    <br>Trabalhou como jornalista por dez anos, nove deles no jornal The Independent, de onde saiu em
                    2002 para
                    se dedicar integralmente à carreira de escritora.
                    <br>
                    É autora de mais de dez livros, entre eles A última carta de amor, Como eu era antes de você, A
                    garota
                    que você deixou para trás e Um mais um, publicados pela Intrínseca.
                    <br>
                    Como eu era antes de você, seu romance de maior sucesso, vendeu mais de oito milhões de exemplares
                    em
                    todo o mundo, ocupou o topo da lista de mais vendidos em nove países e foi adaptado para o cinema
                    com
                    Sam Claflin (Jogos vorazes) e Emilia Clarke (Game of Thrones). A própria Jojo escreveu o roteiro, e,
                    como era de se esperar, o filme teve grande sucesso de bilheteria. Devido à grande repercussão do
                    romance, Jojo Moyes escreveu os livros: Depois de você (2015) e Ainda sou eu (2018), dando
                    continuação à
                    história de Louisa Clark.
                    <br>
                    Uma das poucas escritoras no mundo a ter emplacado três livros ao mesmo tempo na lista de mais
                    vendidos
                    do The New York Times, Jojo mora em Essex com o marido e os três filhos.
                    <br>
                    A escritora já recebeu a premiação do Romantic Novelists Award duas vezes, e o livro Como eu era
                    antes
                    de você foi indicado ao prêmio de Livro do Ano no UK Galaxy Book Awards.
                </p>
            </div>

            <hr>

            <div class="Suzanne box-autores">
                <h2> Suzanne Collins</h2>

                <p><img id="Suzanneimg"
                        src="http://1.bp.blogspot.com/-5zDFS5y5eo8/UpJPtGeUC4I/AAAAAAAAAbQ/ptbAcKoJI0Y/s1600/07+suzanne+collins.jpg">
                    Suzanne Marie Collins é uma escritora e roteirista de ficção científica e literatura infanto-juvenil
                    americana, conhecida pela trilogia Jogos Vorazes que virou filme sob título homônimo em 2012. Seus
                    livros já venderam mais de 85 milhões de cópias no mundo todo. Nasceu em 10 de agosto de 1962 em
                    Hartford, Connecticut, nos EUA. Em 1991, Suzanne Collins começou sua carreira profissional
                    escrevendo
                    para a televisão infantil. Ela trabalhou na equipe de vários programas da Nickelodeon, incluindo o
                    sucesso indicado ao Emmy Clarissa Explains it All e The Mystery Files of Shelby Woo.
                    <br>
                    Sua próxima série, The Hunger Games Trilogy, é um best-seller internacional. The Hunger Games passou
                    mais de seis anos na lista de bestsellers do The New York Times desde a publicação em setembro de
                    2008,
                    e também apareceu consistentemente nas listas de bestsellers do USA Today e Publishers Weekly. Foi
                    vendido em 54 territórios em 52 idiomas. Em 2010, Suzanne foi indicada para a lista TIME 100, bem
                    como
                    para a lista Entertainment Weekly Entertainers of the Year. Em 2016, ela recebeu o Prêmio Authors
                    Guild
                    de 2016 por Serviços Distintos à Comunidade Literária por exemplificar o poder único da literatura
                    jovem
                    para mudar vidas e criar amantes do livro para o resto da vida. Foi a primeira vez que o Guild
                    entregou
                    o prêmio a um autor jovem adulto.
                    <br>
                    Em 2012 a Lionsgate lançou uma adaptação cinematográfica Jogos vorazes dirigido por Gary Ross, que
                    também dividiu o crédito do roteiro com Suzanne e Billy Ray. O filme quebrou vários recordes de
                    bilheteria e tornou-se o 14º lançamento norte-americano de maior bilheteria de todos os tempos.
                    Lionsgate lançou a segunda parcela de jogos vorazes: Em chamas em todo o mundo em 22 de novembro de
                    2013
                    e foi o lançamento com a maior bilheteria do ano e o décimo lançamento doméstico de maior bilheteria
                    de
                    todos os tempos. Em 2014 e 2015 foi lançado Jogos vorazes: a esperança parte 1 e parte 2,
                    respectivamente. A caixa mundial de toda a franquia era de quase 3 bilhões de dólares.
                    <br>
                    Em setembro de 2013, Suzanne lançou um livro autobiográfico aclamado pela crítica, ``YEAR OF THE
                    JUNGLE
                    ``, ilustrado por James Proimos. Trata-se do ano em que ela tinha seis anos e seu pai foi enviado
                    para o
                    Vietnã. Foi vendido em 12 territórios em 11 idiomas. Seu primeiro livro ilustrado, WHEN CHARLIE MC
                    BUTTON LOST POWER, sobre um garoto obcecado por jogos de computador, foi ilustrado por Mike Lester e
                    lançado em 2005. Ele foi vendido em 4 territórios estrangeiros. <br>
                    Seus livros venderam mais de 100 milhões de cópias em todo o mundo.
                </p>
            </div>

            <hr>

            <div class="Rainbow box-autores">
                <h2>Rainbow Rowell</h2>

                <p><img id="Rainbowimg"
                        src="https://www.thunderwave.com.br/wp-content/uploads/2019/05/rainbow-rowell.jpg">
                    Rainbow Rowell é uma autora norte-americana de livros jovens-adultos. Suas obras Eleanor & Park e
                    Fangirl
                    receberam muitos elogios de crítica e público em 2013. Ela é casada e tem dois filhos. Nasceu em 24
                    de
                    fevereiro de 1973 em Omaha (Nebraska)
                    Rainbow foi colunista e copywriter no jornal Omaha World-Herald entre 1995 e 2012. Depois de sair do
                    Omaha World-Herald, Rainbow começou a trabalhar para uma agência publicitária.
                    <br>
                    A autora começou a escrever aquele que se tornaria o seu primeiro romance a ser publicado,
                    Attachments,
                    nos seus tempos livres. Rainbow teve um filho e fez uma pausa na escrita do manuscrito durante dois
                    anos. O romance, publicado em 2011, é uma comédia romântica contemporânea, a revista Kirkus Reviews
                    considerou-o um dos melhores primeiros romances daquele ano.
                    <br>
                    Ainda em 2011, Rainbow terminou o primeiro rascunho do romance Fangirl para o projeto National Novel
                    Writing Month. Este foi o primeiro livro escolhido para o Reblog Book Club da rede social Tumblr.
                    <br>
                    Em 2013, foram publicados dois livros de Rainbow: Fangirl e Eleanor & Park, ela se inspirou em si
                    para
                    criar a história principal do livro. Ambos os romances foram escolhidos pelo The New York Times como
                    sendo duas das melhores ficções para jovens adultos do ano. Eleanor & Park foi considerado um dos 10
                    melhores livros do ano pela Amazon e o melhor livro para jovens adultos do ano pelos utilizadores do
                    site Goodreads (Fangirl ficou em segundo lugar). O estúdio DreamWorks e a presidente da Sidney
                    Kimmel
                    Entertainment, Carla Hacken, estão a trabalhar numa adaptação ao cinema de Eleanor & Park de Rainbow
                    que
                    será responsável pelo roteiro. No ano em que foi publicado, Eleanor & Park foi alvo de censura por
                    parte
                    de um grupo de pais de um liceu de Minnesota.
                    <br>
                    Foi publicado a 8 de julho de 2014 o quarto livro de Rainbow, Landline, um romance para adultos.
                    Ainda
                    em 2014, Rainbow assinou um contrato com a First Second para escrever dois romances gráficos para
                    jovens
                    adultos. O primeiro será ilustrado por Faith Erin Hicks.
                    Rowell anunciou em Dezembro de 2014 que o seu quinto livro, Carry On, iria ser publicado em Outubro
                    de
                    2015.
                </p>
            </div>

            <hr>

            <div class="RJ box-autores">
                <h2>R. J. Palacio</h2>

                <p><img id="RJimg"
                        src="https://static.timesofisrael.com/www/uploads/2019/10/10-2-2019-rj-palacio-e1570094390165.jpg">
                    Raquel Jaramillo, conhecida pelo seu pseudônimo R. J. Palacio. Nasceu em 13 de julho de 1963 na
                    cidade
                    de Nova York e vem de uma família de imigrantes colombianos. Mora em Nova York com o marido, os dois
                    filhos e dois cachorros
                    <br>
                    Se graduou na escola de Desenho Parsons, Universidade Americana de Paris, High School of Art and
                    Design.
                    Por mais de vinte anos foi diretora de arte e designer gráfica, trabalhando nos livros de outras
                    pessoas
                    enquanto esperava o momento certo para começar o próprio romance.
                    <br>
                    Sua estreia na literatura foi com Extraordinário, uma comovente história que deu origem a 365 dias
                    extraordinários, Auggie & eu e Diário Extraordinário. Em 2017 o filme de seu livro os prêmios de
                    Humanitarian Award e Bandung Film Festival for Imported Film.
                    <br>
                    Em 2017 o filme de seu livro Extraordinário foi lançado levando os prêmios de Humanitarian Award e
                    Bandung Film Festival for Imported Film. <br> <br> A autora ganhou o prêmio Goodreads Choice Awards
                    Best
                    Picture Books
                </p>
            </div>

        </div>
    </main>


    <footer>
        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <div class="direitos">
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Mayhopejk"> Mayhopejk</a>, <a
                    href="https://github.com/MellMatsuda">MellMatsuda</a>
                and <a href="https://github.com/RafaBobsin">RafaBobsin</a></p>

            <p id="cop"><i class="far fa-copyright"></i> MMR Desenvolvedoras</p>
        </div>

        <div class="devs">
            <h3>Desenvolvido por:</h3>
            <p>Maitê Nascimento</p>
            <p>Mell Matsuda</p>
            <p>Rafaela Bobsin</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <img src="../public/images/logo_if_vertical_white.png" alt="logo do IFRS">

    </footer>
</body>

</html>