<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/dropdown.css">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="index.html">Inicial</a>
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Generos mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>

    <main>
        <h1>Algum problema ou sugestão? Fale conosco!</h1>

        <form>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Digite aqui..." required="required">

            <label for="cpf">CPF:</label>
            <input type="number" name="cpf" placeholder="xxx.xxx.xxx-xx" required="required">

            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="seuemail@email.com" required="required">

            <label for="tel">Telefone:</label>
            <input type="number" name="tel" placeholder="Não esqueça o DDD" required="required">

            <label for="cidade">Cidade sede da Vendinha:</label>
            <select name="cidades" required="required">
                <option value="" data-default disabled selected></option>
                <option>Porto Alegre</option>
                <option>São Paulo</option>
                <option>Belo Horizonte</option>
                <option>Osório</option>
                <option>Rio de Janeiro</option>
                <option>Utilizado site</option>
            </select>

            <label for="estado">Estado:</label>
            <select name="estado" required="required">
                <option value="" data-default disabled selected></option>
                <option>Rio Grande do Sul</option>
                <option>São Paulo</option>
                <option>Minas Gerais</option>
                <option>Rio de Janeiro</option>
                <option>Online</option>
            </select>

            <label for="idade">Idade:</label>
            <input type="number" name="idade" placeholder="Digite aqui..." required="required">

            <label for="sexo">Sexo:</label>
            <div class="radio">
                <input type="radio" id="masc" name="sexo" value="masc">
                <label for="masc">Masculino</label>

                <input type="radio" id="fem" name="sexo" value="fem">
                <label for="fem">Feminino</label>

                <input type="radio" id="outro" name="sexo" value="outro">
                <label for="outro">Outro</label>
            </div>

            <label for="mot">Motivo do contato:</label>
            <select name="mot" required="required">
                <option value="" data-default disabled selected></option>
                <option>Dúvida</option>
                <option>Elogio</option>
                <option>Reclamação</option>
                <option>Outro</option>
            </select>

            <label for="textArea">Deixe abaixo o que gostaria de dizer:</label>
            <textarea placeholder="Digite aqui..." required="required"></textarea>

            <button type="submit" onclick="validar()"></button>
        </form>
    </main>

    <footer class="cont">
        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <div class="direitos">
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Mayhopejk">Mayhopejk</a>, <a href="https://github.com/MellMatsuda">MellMatsuda</a>
                and <a href="https://github.com/RafaBobsin">RafaBobsin</a></p>

            <p id="cop"><i class="far fa-copyright"></i> MMR Desenvolvedoras</p>
        </div>

        <div class="devs">
            <h3>Desenvolvido por:</h3>
            <p>Maitê Nascimento</p>
            <p>Mell Matsuda</p>
            <p>Rafaela Bobsin</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <img src="../public/images/logo_if_vertical_white.png" alt="logo do IFRS">

    </footer>
</body>

</html>