<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/dropdown.css">
    <link rel="stylesheet" href="../public/css/grid.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="index.html">Inicial</a>
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Gêneros mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>

    <main>
        <h1>Gêneros literários</h1>
        <div class="grid-principal grid-genero">
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero1.jpg" alt="genero">
                <div class="box">
                    <h3>Drama</h3>
                    <p>Gênero de caráter "sério", não cômico, que apresenta um
                        desenvolvimento de fatos e circunstâncias compatíveis com os
                        da vida real. <br><br>
                        Exemplos: Harry Potter e Jogos vorazes
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero2.jpg" alt="genero">
                <div class="box">
                    <h3>Ficção Juvenil</h3>
                    <p>Tipo específico de expressão literária, constituído por
                        obras de <b>ficção</b>, escritas geralmente por adultos e destinadas
                        a um público <b>juvenil</b>, por isso, baseadas em contextos
                        determinados, com conteúdos temáticos sistematizados e normas
                        formais bem definidas. <br><br>
                        Exemplos: Harry Potter e Jogos vorazes
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero3.jpg" alt="genero">
                <div class="box">
                    <h3>Literatura fantástica</h3>
                    <p>Gênero literário em que narrativas ficcionais estão
                        centradas em elementos não existentes ou não reconhecidos
                        na realidade, pela ciência dos tempos em que a obra foi
                        escrita. <br><br>
                        Exemplos: Harry potter e Guardiã de histórias
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero4.png" alt="genero">
                <div class="box">
                    <h3>Suspense</h3>
                    <p>Gênero literário que consiste em retardar ou parar
                        momentaneamente a ação num momento crucial, a fim de
                        criar no espectador, ouvinte ou leitor uma expectativa
                        ansiosa e angustiante dos acontecimentos que virão a seguir. <br><br>
                        Exemplos: Harry potter e Guardiã de histórias
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero5.png" alt="genero">
                <div class="box">
                    <h3>Romance</h3>
                    <p>Um romance ou romance romântico é um tipo de romance de
                        ficção de gênero que coloca seu foco principal no
                        relacionamento e no amor romântico entre duas pessoas e
                        geralmente tem um "final emocionalmente satisfatório e otimista" <br><br>
                        Exemplos: Harry potter, Jogos vorazes e Eleanor e Park
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero6.jpg" alt="genero">
                <div class="box">
                    <h3>Ficção científica</h3>
                    <p>é um gênero da ficção especulativa, que normalmente lida
                        com conceitos ficcionais e imaginativos, relacionados ao
                        futuro, ciência e tecnologia, e seus impactos e/ou
                        consequências em uma determinada sociedade ou em seus
                        indivíduos, desenvolvido no século XIX. <br><br>
                        Exemplos: Jogos vorazes
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero7.jpg" alt="genero">
                <div class="box">
                    <h3>Ficção distópica</h3>
                    <p>Gênero que apresenta uma realidade onde as comunidades regidas
                        pela distopia normalmente apresentam governos totalitários,
                        ditatoriais, os quais exercem um poder tirânico e um domínio
                        ilimitado sobre o grupo social. <br><br>
                        Exemplos: Jogos vorazes
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero8.jpg" alt="genero">
                <div class="box">
                    <h3>Literatura infantil</h3>
                    <p>Gênero literário definido pelo público a que se destina.
                        Certos textos são considerados pelos adultos como sendo
                        próprios à leitura pela criança e é, a partir deste juízo,
                        que recebem a <b>definição</b> de gênero e passam a ocupar
                        determinado lugar entre os demais livros. <br><br>
                        Exemplos: Extraordinário
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero9.jpg" alt="genero">
                <div class="box">
                    <h3>Ficção paranormal</h3>
                    <p>Forma de <b>ficção</b> que ocorre em um ambiente moderno, mas que
                        contém criaturas ou acontecimentos que estão além da
                        compreensão científica ou da experiência humana "normal". <br><br>
                        Exemplos: Guardiã de histórias
                    </p>
                </div>
            </div>
            <div class="grid-gen">
                <img id="generos" src="../public/images/genero10.jpg" alt="genero">
                <div class="box">
                    <h3>Autobiografia</h3>
                    <p>Gênero literário em que uma pessoa narra a história da sua
                        vida, trata-se de uma biografia escrita ou narrada pela pessoa biografada. <br><br>
                        Exemplos: Diário de Anne Frank
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <div class="direitos">
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Mayhopejk">Mayhopejk</a>, <a
                    href="https://github.com/MellMatsuda">MellMatsuda</a>
                and <a href="https://github.com/RafaBobsin">RafaBobsin</a></p>

            <p id="cop"><i class="far fa-copyright"></i> MMR Desenvolvedoras</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <div class="devs">
            <h3>Desenvolvido por:</h3>
            <p>Maitê Nascimento</p>
            <p>Mell Matsuda</p>
            <p>Rafaela Bobsin</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <img src="../public/images/logo_if_vertical_white.png" alt="logo do IFRS">

    </footer>
</body>

</html>