<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/inicial.css">
    <link rel="stylesheet" href="../public/css/dropdown.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Gêneros mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>

    <main>
        <img src="../public/images/logo_vendinha_white.png" alt="logo da vendinha">

        <h1>Vendinha de Livros MMR</h1>
        <h3>Maitê Nascimento, Mell Matsuda e Rafaela Bobsin</h3>

        <p>Site em desenvolvimento para a disciplina de Programação Web do terceiro ano do técnico em informática do
            Instituto
            Federal de Educação, Ciência e Técnologia do Rio Grande do Sul
            - Campus Osório.
        </p>

        <div class="botoes">
            <a href="vendas.html">Visite nossas vendas</a>
            <a href="login.html">Faça Login</a>
        </div>
    </main>
</body>

</html>