<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <header>
        <a href="vendas.html">A venda</a>
        <a href="quemSomos.html">Quem Somos</a>
        <a href="contatenos.html">Fale Conosco</a>
        <a href="carrinho.html">Compras</a>
        <a href="generos.html">Generos mais vendidos</a>
        <a href="login.html">Login</a>
    </header>

    <main>
        <img src="../public/images/logo-vendinha.png" alt="logo da vendinha">

        <h1>Vendinha de Livros MMR</h1>
        <h3>Maitê Nascimento, Mell Matsuda e Rafaela Bobsin</h3>

        <div class="botoes">
            <a href="vendas.html">Visite nossas vendas</a>
            <a href="login.html">Faça Login</a>
        </div>
    </main>
</body>

</html>