<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <link rel="stylesheet" type="text/css" href="../public/css/dropdown.css">
    <link rel="stylesheet" type="text/css" href="../public/css/login.css">
    <link rel="stylesheet" type="text/css" href="../public/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../public/css/footer.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
    <script type="text/javascript" src="../public/js/validacao.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="index.html">Inicial</a>
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Generos mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>

    <main>
        <center>
            <h1>Faça login para comprar</h1>
        </center>

        <div class="grid-principal2">
            <form>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" placeholder="Digite aqui..." required="required">

                <label for="cpf">CPF:</label>
                <input id="cpf" type="text" name="cpf" placeholder="xxx.xxx.xxx-xx" required="required"
                    onfocus="masc_cpf()">

                <label for="email">E-mail:</label>
                <input type="email" name="email" placeholder="seuemail@email.com" required="required">

                <label for="senha">Senha:</label>

                <div class="senhas">
                    <input id="senha" type="password" name="senha" placeholder="Digite aqui..." required="required"
                        onkeyup="javascript:validar_senha()">

                    <a onclick="mostra_senha()" href="#"><i class="far fa-eye" id="icon1" style="display: block;"></i>
                        <i class="far fa-eye-slash" id="icon2" style="display: none;"></i></a>
                </div>

                <div id="mostrar"></div>

                <label for="confSenha">Confirme a Senha:</label>

                <div class="senhas">
                    <input type="password" id="confSenha" name="confSenha" placeholder="Repita a senha acima"
                        required="required" onkeyup="javascript:verificar_senha()">

                    <a onclick="mostra_senha2()" href="#"><i class="far fa-eye" id="icon3" style="display: block;"></i>
                        <i class="far fa-eye-slash" id="icon4" style="display: none;"></i></a>
                </div>

                <div id="igual"></div>

                <button onclick="validar()">Efetuar</button>
            </form>
        </div>

    </main>

    <footer id="login footer">
        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <div class="direitos">
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Mayhopejk">Mayhopejk</a>, <a
                    href="https://github.com/MellMatsuda">MellMatsuda</a>
                and <a href="https://github.com/RafaBobsin">RafaBobsin</a></p>

            <p id="cop"><i class="far fa-copyright"></i> MMR Desenvolvedoras</p>
        </div>

        <div class="devs">
            <h3>Desenvolvido por:</h3>
            <p>Maitê Nascimento</p>
            <p>Mell Matsuda</p>
            <p>Rafaela Bobsin</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <img src="../public/images/logo_if_vertical_white.png" alt="logo do IFRS">

    </footer>

    <script>
        const cpf = document.querySelector("#cpf")
        const mask = "___.___.___-__"
        const char = "_"
        const specialChars = [".", "-"]

        cpf.addEventListener("focus", () => { //empty case, add mask and go to the beginning
            if (cpf.value == "" || cpf.value == mask) {
                cpf.value = mask
                cpf.setSelectionRange(0, 0) //cursor position
            }
        })

        cpf.addEventListener("keydown", e => {

            const backspace = (e.keyCode == 8)

            if (backspace) {
                const arrayCpf = cpf.value.split("")

                deleteValue(arrayCpf)
                e.preventDefault()
            }
        })

        cpf.addEventListener("keypress", e => {

            const numberKey = (!isNaN(e.key) && e.keyCode != 32) //keyCode == 32 == space key == number... yes, " " == 0

            if (numberKey) {
                const arrayCpf = cpf.value.split("")
                maskPattern(arrayCpf, e)
            }

            e.preventDefault()
        })

        cpf.addEventListener("paste", e => {

            const data = e.clipboardData.getData("text")

            onPasteCpf(data)

            e.preventDefault()
        })

        function maskPattern(arrayCpf, event) {

            let cursor = cpf.selectionStart

            for (let i = cursor; i < arrayCpf.length; i++) { //skip special chars on insert
                if (specialChars.indexOf(arrayCpf[i]) >= 0) {
                    cursor++
                } else break
            }

            arrayCpf.splice(cursor, 1, event.key)

            insertValue(arrayCpf.join(""), cursor + 1)
        }

        function insertValue(result, cursor) {
            if (result.length == mask.length) {
                cpf.value = result
                if (cursor >= 0) {
                    cpf.setSelectionRange(cursor, cursor)
                }
            }
        }

        function deleteValue(arrayCpf) {

            const withoutSelectionRange = checkSelectionRange(arrayCpf) //true case, remove element by element... otherwise remove elements in the selection range

            if (withoutSelectionRange) {

                let cursor = cpf.selectionStart

                for (let i = 0; i < arrayCpf.length; i++) { //skip special chars on delete
                    if (specialChars.indexOf(arrayCpf[cursor - 1]) >= 0) {
                        cursor -= 1
                    } else break
                }

                arrayCpf.splice(cursor - 1, 1, char)
                insertValue(arrayCpf.join(""), cursor - 1)
            }
        }

        function checkSelectionRange(arrayCpf) {

            if (cpf.selectionStart != cpf.selectionEnd) {

                let start = cpf.selectionStart
                let end = cpf.selectionEnd

                for (let i = start; i < end; i++) {

                    let nonSpecialChar = specialChars.indexOf(arrayCpf[i]) < 0

                    if (nonSpecialChar) {
                        arrayCpf.splice(i, 1, char)
                    }
                }

                insertValue(arrayCpf.join(""), start)

                return false
            }

            return true
        }

        function onPasteCpf(data) {

            const arrayCpf = mask.split("")
            const arraycpf = data.split("")
            const onlyNumbers = arraycpf.filter(value => !isNaN(value) && value != " ")
            const maskWithoutSpecialChars = arrayCpf.filter(value => value == char)
            const numberOfChars = maskWithoutSpecialChars.length

            for (let i = 0; i < numberOfChars; i++) {

                let positionChar = arrayCpf.indexOf(char)
                let number = onlyNumbers[i] || char

                arrayCpf.splice(positionChar, 1, number)
            }

            cpf.value = ""
            insertValue(arrayCpf.join(""), arrayCpf.indexOf(char))
        }
    </script>

</body>

</html>