<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/dropdown.css">
    <link rel="stylesheet" href="../public/css/Quemsomosnos.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
</head>

<body>

    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="index.html">Inicial</a>
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Generos mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>
    
    <main>
        <h1> Quem somos nós?</h1>
        <div class="principal">
            <p id="txt-ini">
                A vendinha de livros é uma pequena empresa de livros, sonhada e projetada  há pouco tempo. 
                Hoje, enfim, fora do papel a empresa busca ir além de suas obrigações. <br>
                A empresa foi fundada em 6 de abril de 2021 por 3 mulheres programadoras: 
                <strong> Maitê Nascimento, Mell Matsuda e Rafaela Bobsin. </strong> <br> <br> 
            </p>
                
            <div class="box-direita">
                <p id="txt">
                    Maitê Nascimento (07 de setembro de 2003) tem 17 anos, estuda no Instituto Federal do
                    Rio Grande do Sul no campus da cidade de Osório e cursa o ensino médio integrado ao curso de técnico em informática. 
                    Já fez parte do projeto de extensão “Programando fácil” e atualmente 
                    é bolsista voluntária do projeto de pesquisa “Atividades diferenciadas 
                    e inovadoras para computação plugada e desplugada”.   
                </p> 
                <img id="img" src="../public/images/Maite.jpeg">
            </div>
            
            <div class="box-esquerda">
                <img id="img-esq" src="../public/images/Mell.jpeg"> 
                <p id="txt txt2">
                    Mell Matsuda (13 de fevereiro de 2003) tem 18 anos, estuda no Instituto Federal do Rio Grande do Sul no 
                    campus da cidade de Osório e cursa o ensino médio integrado ao curso de técnico em informática. 
                    Anteriormente estudava no campus de Gravataí. No campus Osório participou no desenvolvimento do aplicativo Jogue Limpo com Osório, 
                    um projeto de extensão, e atualmente é bolsista do projeto de pesquisa “Atividades diferenciadas
                    e inovadoras para computação plugada e desplugada”.  
                </p> 
            </div>
                        
            <div class="box-direita">
                <p id="txt"> 
                    Rafaela Bobsin (18 de janeiro de 2003) tem 18 anos, estuda no Instituto Federal do Rio Grande do Sul no campus da cidade de Osório 
                    e cursa o ensino médio integrado ao curso de técnico em informática. Já fez parte do projeto de extensão “Programando fácil”, 
                    do projeto "Incubadora de Redes e Empreendimentos Solidários" e atualmente é bolsista do projeto de pesquisa 
                    “Atividades diferenciadas e inovadoras para computação plugada e desplugada”.
                </p> 
                <img id="img" src="../public/images/Rafaela.jpeg">
            </div>
        </div>
    </main>
    
    <footer>
        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <div class="direitos">
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Mayhopejk"> Maitê </a> , <a href="https://github.com/MellMatsuda">MellMatsuda</a>
                and <a href="https://github.com/RafaBobsin">RafaBobsin</a></p>

            <p id="cop"><i class="far fa-copyright"></i> MMR Desenvolvedoras</p>
        </div>

        <div class="devs">
            <h3>Desenvolvido por:</h3>
            <p>Maitê Nascimento</p>
            <p>Mell Matsuda</p>
            <p>Rafaela Bobsin</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <img src="../public/images/logo_if_vertical_white.png" alt="logo do IFRS">

    </footer>
</body>

</html>