<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/dropdown.css">
    <link rel="stylesheet" href="../public/css/grid.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
    <script src="https://kit.fontawesome.com/70aefda47d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/js/dropdown.js"></script>
    <script type="text/javascript" src="../public/js/carrinho.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="dropdown">
            <button class="dropbtn" id="btn" onclick="dropdownFunction()">
                <i class="fas fa-bars" id="btn"></i></button>

            <div class="dropdown-content" id="myDropdown">
                <div class="links">
                    <a href="index.html">Inicial</a>
                    <a href="vendas.html">A venda</a>
                    <a href="quemSomos.html">Quem Somos</a>
                    <a href="contatenos.html">Fale Conosco</a>
                    <a href="generos.html">Gêneros mais vendidos</a>
                    <a href="autores.html">Autores</a>
                </div>
            </div>
        </div>

        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <a href="carrinho.html">Compras</a>
        <a href="login.html">Login</a>

    </header>

    <main>

        <h1>Página de vendas</h1>

        <div class="grid-principal">
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro1.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Extraordinário</h3>
                        <h4>R. J. Palacio</h4>
                        <p>August Pullman, o Auggie, nasceu com uma síndrome cuja sequela é uma
                            severa deformidade facial, que lhe impôs diversas cirurgias e complicações
                            médicas. Por isso ele nunca frequentou uma escola de verdade... até agora.
                            Todo mundo sabe que é difícil ser um aluno novo, mais ainda quando se tem
                            um rosto tão diferente. Prestes a começar o quinto ano em um colégio particular
                            em Nova York, Auggie tem uma missão nada fácil pela frente: convencer os colegas
                            de que, apenas pela aparência incomum, ele é um menino igual a todos os outros.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>39,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro2.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>O diário de Anne Frank</h3>
                        <h4>Anne Frank</h4>
                        <p>O retrato da menina por trás do mito. A única edição autorizada pelo Anne Frank Fonds.
                            O diário de Anne Frank, o depoimento da pequena Anne, morta pelos nazistas após passar
                            anos escondida no sótão de uma casa em Amsterdã, ainda hoje emociona leitores no mundo
                            inteiro. Suas anotações narram os sentimentos, os medos e as pequenas alegrias de uma
                            menina judia que, como sua família, lutou em vão para sobreviver ao Holocausto.Lançado
                            em 1947, O diário de Anne Frank tornou-se um dos livros mais lidos do mundo. O relato
                            tocante e impressionante das atrocidades e dos horrores cometidos contra os judeus faz
                            deste livro um precioso documento e uma das obras mais importantes do século XX. Uma
                            poderosa lembrança dos horrores de uma guerra, um testemunho eloquente do espírito humano.
                            Assim podemos descrever os relatos feitos por Anne em seu diário. Isolados do mundo
                            exterior,
                            os Frank enfrentaram a fome, o tédio e a terrível realidade do confinamento, além da ameaça
                            constante de serem descobertos. Nas páginas de seu diário, Anne Frank registra as impressões
                            sobre esse longo período no esconderijo. Alternando momentos de medo e alegria, as anotações
                            mostram um fascinante relato sobre a coragem e a fraqueza humanas e, sobretudo, um vigoroso
                            auto retrato de uma menina sensível e determinada, cuja vida foi tragicamente interrompida.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>19,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro3.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>A guardiã de histórias</h3>
                        <h4>V. E. Schwab</h4>
                        <p>Imagine um lugar onde, como livros, os mortos repousam em prateleiras Cada corpo tem uma
                            história para contar, uma vida disposta em imagens que apenas os Bibliotecários podem ler.
                            Aqui, os mortos são chamados de Histórias, e o vasto domínio em que eles descansam é o
                            Arquivo. Mackenzie Bishop é uma implacável Guardiã, cuja tarefa é impedir Histórias –
                            geralmente violentas – de acordar e fugir do Arquivo. Naqueles domínios, os mortos jamais
                            devem ser perturbados, mas alguém parece estar, deliberadamente, alterando Histórias e
                            apagando seus trechos essenciais. A menos que Mac consiga juntar as peças restantes, o
                            próprio Arquivo sofrerá as consequências.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>34,11</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro4.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e a pedra filosofal</h3>
                        <h4>J.K. Rowling</h4>
                        <p>Harry Potter é um garoto cujos pais, feiticeiros, foram assassinados
                            por um poderosíssimo bruxo quando ele ainda era um bebê. Ele foi
                            levado, então, para a casa dos tios que nada tinham a ver com o
                            sobrenatural. Pelo contrário. Até os 10 anos, Harry foi uma espécie
                            de gata borralheira: maltratado pelos tios, herdava roupas velhas do
                            primo gorducho, tinha óculos remendados e era tratado como um estorvo.
                            No dia de seu aniversário de 11 anos, entretanto, ele parece deslizar
                            por um buraco sem fundo, como o de Alice no país das maravilhas, que
                            o conduz a um mundo mágico. Descobre sua verdadeira história e seu
                            destino: ser um aprendiz de feiticeiro até o dia em que terá que
                            enfrentar a pior força do mal, o homem que assassinou seus pais. O
                            menino de olhos verde, magricela e desengonçado, tão habituado à rejeição,
                            descobre, também, que é um herói no universo dos magos. Potter fica sabendo
                            que é a única pessoa a ter sobrevivido a um ataque do tal bruxo do mal e
                            essa é a causa da marca em forma de raio que ele carrega na testa. Ele
                            não é um garoto qualquer, ele sequer é um feiticeiro qualquer, ele é
                            Harry Potter, símbolo de poder, resistência e um líder natural entre
                            os sobrenaturais. A fábula, recheada de fantasmas, paredes que falam,
                            caldeirões, sapos, unicórnios, dragões e gigantes, não é, entretanto,
                            apenas um passatempo. Harry Potter conduz a discussões metafísicas,
                            aborda o eterno confronto entre o bem e o mal, evidencia algumas mazelas
                            da sociedade, como o preconceito, a divisão de classes através do dinheiro
                            e do berço, a inveja, o egoísmo, a competitividade exacerbada, a busca pelo
                            ideal - a necessidade de aprender, nem que seja à força, que a vida é feita
                            de derrotas e vitórias e que isso é importante para a formação básica de um adulto.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>34,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro5.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e a Câmara Secreta</h3>
                        <h4>J.K. Rowling</h4>
                        <p>Depois de férias aborrecidas na casa dos tios trouxas, está na
                            hora de Harry Potter voltar a estudar. Coisas acontecem, no entanto,
                            para dificultar o regresso de Harry. Persistente e astuto, o herói
                            não se deixa intimidar pelos obstáculos e, com a ajuda dos fiéis amigos
                            Weasley, começa o segundo ano letivo na Escola de Magia e Bruxaria de
                            Hogwarts. As novidades não são poucas. Novos colegas, novos professores,
                            muitas e boas descobertas e um grande e perigoso desafio. Alguém ou
                            alguma coisa ameaça a segurança e a tranquilidade dos membros de Hogwarts.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>26,20</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro6.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e o prisioneiro de Azkaban</h3>
                        <h4>J.K. Rowling</h4>
                        <p>As aulas estão de volta a Hogwarts e Harry Potter não vê a hora
                            de embarcar no Expresso a vapor que o levará de volta à escola
                            de bruxaria. Mais uma vez suas férias na rua dos Alfeneiros, 4,
                            foi triste e solitária. Tio Válter Dursley estava especialmente
                            irritado com ele, porque seu amigo Rony Weasley tinha lhe telefonado.
                            E ele não aceitava qualquer ligação de Harry com o mundo dos mágicos
                            dentro de sua casa. A situação piorou ainda mais com a chegada de
                            tia Guida, irmã de Válter. Harry já estava acostumado a ser humilhado
                            pelos Dursley, mas quando tia Guida passou a ofender os pais de Harry,
                            mortos pelo bruxo Voldemort, ele não agüentou e transformou-a num imenso
                            balão. Irritado, fugiu da casa dos tios, indo se abrigar no Beco Diagonal.
                            Lá ele reencontra Rony e Hermione, seus melhores amigos em Hogwarts e,
                            para sua surpresa, é procurado pelo próprio Ministro da Magia. Sem que Harry
                            saiba, o ministro está preocupado com o garoto, pois fugiu da prisão de Azkaban
                            o perigoso bruxo Sirius Black, que teria assassinado treze pessoas com um
                            único feitiço e traído os pais de Harry, entregando-os a Voldemort. Sob forte
                            escolta, o garoto é levado para Hogwarts. Na escola as dificuldades são as de
                            sempre: Severo Snape, o professor de Poções, o trata cada vez pior, enquanto
                            ele tem de se esforçar nos treinos de quadribol, e levar Grifinória à vitória
                            do campeonato. Para piorar a situação, os terríveis guardas de Azkaban,
                            conhecidos por dementadores, estão de guarda nos portões da escola, caso Sirius
                            Black tente algo contra Harry. Por fim, Harry tem de enfrentar seu inimigo para
                            salvar Rony e obrigado a escolher entre matar ou não aquele que traiu seus pais.
                            Com muita ação, humor e magia, Harry Potter e o prisioneiro de Azkaban traz de
                            volta o gigante atrapalhado Rúbeo Hagrid, o sábio diretor Alvo Dumbledore, a
                            exigente professora de transformação Minerva McGonagall e o novo mestre Lupin,
                            que guarda grandes surpresas para Harry.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>27,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro7.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e o Cálice de Fogo</h3>
                        <h4>J.K. Rowling</h4>
                        <p>Nesta aventura, o feiticeiro cresceu e está com 14 anos. O
                            início do ano letivo de Harry Potter reserva muitas emoções,
                            mágicas, e acontecimentos inesperados, além de um novo
                            torneio em que os alunos de Hogwarts terão de demonstrar
                            todas as habilidade mágicas e não mágicas que vêm adquirindo
                            ao longo de suas vidas. Harry é escolhido pelo Cálice de Fogo
                            para competir como um dos campeões de Hogwarts, tendo ao lado
                            seus fiéis amigos. Muitos desafios, feitiços, poções e confusões
                            estão reservados para Harry. Além disso, ele terá que lidar
                            ainda com os problemas comuns da adolescência: amor, amizade,
                            aceitação e rejeição.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>48,10</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro8.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e a ordem da Fênix</h3>
                        <h4>J.K. Rowling</h4>
                        <p>Harry não é mais um garoto. Aos 15 anos, continua sofrendo
                            a rejeição dos Dursley, sua estranha família no mundo dos
                            'trouxas'. Também continua contando com Rony Weasley e
                            Hermione Granger, seus melhores amigos em Hogwarts, para
                            levar adiante suas investigações e aventuras. Mas o bruxinho
                            começa a sentir e descobrir coisas novas, como o primeiro
                            amor e a sexualidade. Nos volumes anteriores, J. K. Rowling
                            mostrou como Harry foi transformado em celebridade no mundo
                            da magia por ter derrotado, ainda bebê, Voldemort, o todo
                            poderoso bruxo das trevas que assassinou seus pais. Neste
                            quinto livro da saga, o protagonista, numa crise típica da
                            adolescência, tem ataques de mau humor com a perseguição da
                            imprensa, que o segue por todos os lugares e chega a inventar
                            declarações que nunca deu. Harry vai enfrentar as investidas de
                            Voldemort sem a proteção de Dumbledore, já que o diretor de Hogwarts
                            é afastado da escola. E vai ser sem a ajuda de seu protetor que o
                            jovem herói enfrentará descobertas sobre a personalidade controversa
                            de seu pai, Tiago Potter, e a morte de alguém muito próximo.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>55,75</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro9.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e o enigma do principe</h3>
                        <h4>J.K. Rowling</h4>
                        <p>Harry Potter e o enigma do príncipe' dá continuidade à saga
                            do jovem bruxo Harry Potter a partir do ponto em que o livro
                            anterior parou o momento em que fica provado que o poder de
                            Voldemort e dos Comensais da Morte, seus seguidores, cresce
                            mais a cada dia, em meio à batalha entre o bem e o mal. A
                            onda de terror provocada pelo Lorde das Trevas estaria afetando,
                            até mesmo, o mundo dos trouxas (não bruxos), e sendo agravada
                            pela ação dos dementadores, criaturas mágicas aterrorizantes
                            que 'sugam' a esperança e a felicidade das pessoas. Harry, que
                            acabou de completar 16 anos, parte rumo ao sexto ano na Escola de
                            Magia e Bruxaria de Hogwarts, animado e ao mesmo tempo apreensivo
                            com a perspectiva de ter aulas particulares com o professor Dumbledore,
                            o diretor da escola e o bruxo mais respeitado em toda comunidade mágica.
                            Harry, longe de ser aquele menino magricela que vivia no quarto debaixo
                            da escada na casa dos tios trouxas, é um dos principais nomes entre
                            aqueles que lutam contra Voldemort, e se vê cada vez mais isolado à
                            medida que os rumores de que ele é O Eleito o único capaz de derrotar o
                            Lorde das Trevas, se espalham pelo mundo dos bruxos. Dois atentados contra
                            a vida de estudantes, a certeza de Harry quanto ao envolvimento de Draco
                            Malfoy com os Comensais da Morte e o comportamento de Snape, suspeito
                            como sempre, adicionam ainda mais tensão ao já inquietante período. Apesar
                            de tudo isso, Harry e os amigos são adolescentes típicos, dividem tarefas
                            escolares e dormitórios bagunçados, correm das aulas para os treinos de
                            quadribol, e namoram.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>32,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro10.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Harry Potter e as relíquias da morte</h3>
                        <h4>J.K. Rowling</h4>
                        <p>Harry Potter está prestes a fazer 17 anos, mas, ao contrário
                            das outras vezes, não irá para Hogwarts após seu aniversário.
                            Agora, escoltado por uma verdadeira brigada de bruxos, ele
                            precisa fugir, antes que Voldemort o encontre. Esse ingresso
                            brusco na vida adulta marca o início da aventura do jovem bruxo
                            no último livro da série, Harry Potter e as Relíquias da Morte,
                            que chegou às livrarias do país ao primeiro minuto do dia 10
                            de novembro de 2007, com tiragem inicial de 400 mil exemplares,
                            pela Editora Rocco.A edição em inglês de Harry Potter e as
                            Relíquias da Morte saiu no dia 21 de julho, provocando uma
                            corrida dos fãs às livrarias. Só nos EUA, foram vendidos 8,3
                            milhões de exemplares do livro nas primeiras 24 horas, batendo
                            recorde de vendas e superando o antecessor, Harry Potter e o
                            enigma do Príncipe, que vendeu 6,9 milhões de exemplares no
                            mesmo período. Ao total, os seis primeiros volumes da série
                            venderam 325 milhões de exemplares, em 64 línguas, em todo o
                            mundo, 2,5 milhões apenas no Brasil.Em Harry Potter e as
                            Relíquias da Morte, o encontro inevitável com Lord Voldemort
                            não pode mais ser adiado. Harry, no entanto, precisa ganhar
                            tempo para encontrar as Horcruxes que ainda estão faltando.
                            E, pelo caminho, descobrir o que são afinal as Relíquias da
                            Morte e como ele pode usá-las contra o Lorde das Trevas.
                            Seguindo as poucas pistas deixadas por Dumbledore, Harry conta
                            apenas com a ajuda dos leais amigos Rony e Hermione.Juntos, eles
                            percorrem lugares nunca visitados, descobrem histórias nebulosas
                            sobre pessoas queridas e acabam por desvendar mistérios que os
                            incomodavam há muito tempo. Enquanto Harry, Rony e Hermione
                            vagam por diferentes lugares em busca de pistas, J. K. Rowling
                            vai revelando aspectos até então desconhecidos sobre os
                            principais personagens.Em sua última e derradeira aventura, Harry
                            não é exposto apenas a batalhas. Ele precisa superar traições,
                            surpresas e, mais do que nunca, aprender a lidar com os próprios
                            sentimentos. Como em todos os livros da série, o amor e a amizade
                            são elementos-chave para a trama. Em Harry Potter e as Relíquias
                            da Morte, J. K. Rowling leva o leitor por uma trilha de suspense,
                            com sustos ininterruptos até a última página, quando entrega, por
                            completo, toda a verdade e conclui os passos do herói de Harry
                            Potter na maior saga bruxa de todos os tempos.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>64,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro11.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Um caminho para a liberdade</h3>
                        <h4>Jojo Moyes</h4>
                        <p>Cinco mulheres vão enfrentar uma cidade inteira por amor aos
                            livros. E juntas vão descobrir o poder do conhecimento, da
                            liberdade e da amizade. <br>
                            Em uma época em que não seguir os costumes e a religião era
                            uma transgressão gravíssima, o caminho de um grupo de
                            mulheres se cruza de maneira inesperada. A década de 1930
                            está chegando ao fim, e, em uma pequena cidade do interior
                            dos Estados Unidos, a ideia de que as moças administram uma
                            biblioteca itinerante desafia o status quo. <br>
                            Com o compromisso de levar livros para os moradores mais
                            pobres da região, Margery, Alice, Beth, Sophia e Izzy
                            aceitam trabalhar na biblioteca. E à medida que enfrentam
                            inúmeras dificuldades, como aprender a cavalgar, percorrer
                            rotas de difícil acesso e suportar o preconceito dos mais
                            conservadores, elas fortalecem o laço que as une e descobrem
                            mais sobre si mesmas. Em pouco tempo, toda a cidade se volta
                            contra o grupo, colocando em risco a sobrevivência do projeto.
                            E as mulheres vão se perguntar mais uma vez se o poder das
                            palavras será suficiente para salvá-las. <br>
                            Inspirado em uma história real, Um caminho para a liberdade
                            fala de lealdade, independência e justiça. Com uma trama
                            envolvente e emocionante, Jojo Moyes faz o leitor refletir
                            sobre as redes de apoio e amizade entre mulheres e como é
                            preciso ir além dos nossos — supostos — limites. Afinal,
                            conquistar a liberdade nunca é fácil.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>27,49</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro12.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Eleanor e Park</h3>
                        <h4>Rainbow Rowell</h4>
                        <p>Uma das maiores obras da literatura jovem contemporânea em
                            nova edição. <br>
                            Eleanor é nova na cidade. Com roupas inusitadas, cachos ruivos
                            indomáveis e uma família problemática, ela sente que nunca vai
                            conseguir se encaixar. <br>
                            Park senta sozinho no ônibus da escola. Sempre de camiseta preta,
                            fones de ouvido e a cabeça enfiada num livro, acha que consegue
                            passar despercebido. <br>
                            Mas não para Eleanor. <br>
                            Aos poucos, entre fitas cassetes gravadas, pilhas de histórias em
                            quadrinhos e conversas até tarde da noite, Eleanor e Park se
                            apaixonam. <br>
                            Narrada durante o ano letivo de 1986, essa é a história de dois
                            jovens de dezesseis anos que, mesmo sabendo que o primeiro amor
                            quase nunca é para sempre, têm coragem e esperança suficientes
                            para tentar.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>29,70</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro13.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Jogos vorazes</h3>
                        <h4>Suzanne Collins</h4>
                        <p>Na abertura dos Jogos Vorazes, a organização não recolhe
                            os corpos dos combatentes caídos e dá tiros de canhão
                            até o final. Cada tiro, um morto. Onze tiros no primeiro
                            dia. Treze jovens restaram, entre eles, Katniss. Para
                            quem os tiros de canhão serão no dia seguinte?... Após
                            o fim da América do Norte, uma nova nação chamada Panem
                            surge. Formada por doze distritos, é comandada com mão
                            de ferro pela Capital. Uma das formas com que demonstra
                            seu poder sobre o resto do carente país é com Jogos
                            Vorazes, uma competição anual transmitida ao vivo pela
                            televisão, em que um garoto e uma garota de doze a
                            dezoito anos de cada distrito são selecionados e
                            obrigados a lutar até a morte! Para evitar que sua irmã
                            seja a mais nova vítima do programa, Katniss se oferece
                            para participar em seu lugar. Vinda do empobrecido
                            Distrito 12, ela sabe como sobreviver em um ambiente
                            hostil. Peeta, um garoto que ajudou sua família no
                            passado, também foi selecionado. Caso vença, terá fama e
                            fortuna. Se perder, morre. Mas para ganhar a competição,
                            será preciso muito mais do que habilidade. Até onde
                            Katniss estará disposta a ir para ser vitoriosa nos Jogos Vorazes?
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>56,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro14.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Jogos vorazes em chamas</h3>
                        <h4>Suzanne Collins</h4>
                        <p>Depois da improvável e inusitada vitória de Katniss Everdeen e
                            Peeta Mellark nos últimos Jogos Vorazes, algo parece ter
                            mudado para sempre em Panem. Aqui e ali, distúrbios e
                            agitações nos distritos dão sinais de que uma revolta é
                            iminente. Katniss e Peeta, representantes do paupérrimo
                            Distrito 12, não apenas venceram os Jogos, mas ridicularizaram
                            o governo e conseguiram fazer todos – incluindo o próprio Peeta
                            – acreditarem que são um casal apaixonado. A confusão na cabeça
                            de Katniss não é menor do que a das ruas. Em meio ao turbilhão,
                            ela pensa cada vez mais em seu melhor amigo, o jovem caçador
                            Gale, mas é obrigada a fingir que o romance com Peeta é real.
                            Já o governo parece especialmente preocupado com a influência
                            que os dois adolescentes vitoriosos – transformados em verdadeiros
                            ídolos nacionais – podem ter na população. Por isso, existem
                            planos especiais para mantê-los sob controle, mesmo que isso
                            signifique forçá-los a lutar novamente. Apenas um sobrevive.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>49,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="grid-livro">
                <div class="grid-imagem">
                    <img id="livros" src="../public/images/livro15.jpg" alt="livro">
                </div>
                <div class="grid-descricao">
                    <div class="grid-texto">
                        <h3>Jogos vorazes A esperança</h3>
                        <h4>Suzanne Collins</h4>
                        <p>Depois de sobreviver duas vezes à crueldade de uma arena
                            projetada para destruí-la, Katniss acreditava que não
                            precisaria mais lutar. Mas as regras do jogo mudaram:
                            com a chegada dos rebeldes do lendário Distrito 13, enfim
                            é possível organizar uma resistência. Começou a revolução.
                            A coragem de Katniss nos jogos fez nascer a esperança em
                            um país disposto a fazer de tudo para se livrar da opressão.
                            E agora, contra a própria vontade, ela precisa assumir seu
                            lugar como símbolo da causa rebelde. Ela precisa virar o
                            Tordo. O sucesso da revolução dependerá de Katniss aceitar
                            ou não essa responsabilidade. Será que vale a pena colocar
                            sua família em risco novamente? Será que as vidas de Peeta e
                            Gale serão os tributos exigidos nessa nova guerra? Acompanhe
                            Katniss até o fim deste thriller, numa jornada ao lado mais
                            obscuro da alma humana, em uma luta contra a opressão e a
                            favor da esperança. Apenas um sobrevive.
                        </p>
                    </div><br>
                    <div class="grid-carrinho">
                        <div class="grid-carrinho1">
                            <div class="grid-valor">
                                <p id="valor">R$ <b>49,90</b></p>
                            </div>
                            <div class="grid-botao">
                                <p>
                                    <button onclick="adicionarCarrinho();">Adicionar ao carrinho</button>
                                </p>
                            </div>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <img src="../public/images/logo_vendinha_side.png" alt="logo da vendinha">

        <div class="direitos">
            <p>Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Mayhopejk">Mayhopejk</a>, <a
                    href="https://github.com/MellMatsuda">MellMatsuda</a>
                and <a href="https://github.com/RafaBobsin">RafaBobsin</a></p>

            <p id="cop"><i class="far fa-copyright"></i> MMR Desenvolvedoras</p>
        </div>

        <div class="devs">
            <h3>Desenvolvido por:</h3>
            <p>Maitê Nascimento</p>
            <p>Mell Matsuda</p>
            <p>Rafaela Bobsin</p>
        </div>

        <div class="prof">
            <h3>Professor:</h3>
            <p>Carlos Tadeu</p>
        </div>

        <img src="../public/images/logo_if_vertical_white.png" alt="logo do IFRS">

    </footer>

</body>

</html>