<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vendinha de Livros MMR</title>
    <link rel="stylesheet" href="../public/css/vendas.css">
    <link rel="icon" href="../public/images/logo_vendinha.png" sizes="17x17" type="image/png">
</head>

<body>
    <header>
        <a href="vendas.html">A venda</a>
        <a href="quemSomos.html">Quem Somos</a>
        <a href="contatenos.html">Fale Conosco</a>
        <a href="carrinho.html">Compras</a>
        <a href="generos.html">Generos mais vendidos</a>
        <a href="login.html">Login</a>
        <a href="autores.html">Autores</a>
    </header>

    <h1>Página de vendas</h1>
</body>

</html>