footer {
    position: relative;
}

h1 {
    margin: auto;
    width: 80vw;
    margin-bottom: 3vh;
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

hr{
    width: 90%;
    margin-bottom: 2vh;
    margin-top: 5vh;
    box-shadow: 0 0 7px 1px #f07167;
    border-style: unset;
}

p{
    line-height: 3.5vh;
}

.autores {
    width: 80vw;
    padding: 2vh;
    background-color: #eaf2f8;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px #f07167 solid;
    box-shadow: 0 0 10px 3px #f07167;
}

.box-autores {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.anneF {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Anne {
    width: 20vw;
    float: left;
    margin: 0 1%;
}

main h2 {
    margin-left: 1%;
}

#Jkimg {
    width: 20vw;
    float: left;
    margin: 0 1%;
}

.Jk {
    text-align: justify;
}

#Jojoimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.Jojo {
    text-align: justify;
}

#Suzanneimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.Suzanne {
    text-align: justify;
}

#Rainbowimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.Rainbow {
    text-align: justify;
}

#RJimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.RJ {
    text-align: justify;
}