footer {
    position: relative;
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

hr{
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 5vh;
    box-shadow: 0 0 7px 1px #f07167;
    border-style: unset;
}

p{
    line-height: 3.5vh;
}

.anneF {
    text-align: justify;
    margin-left: 1%;
}

#Anne {
    width: 20vw;
    float: left;
    margin: 0 1%;
}

main h2 {
    margin-left: 1%;
}

#Jkimg {
    width: 20vw;
    float: left;
    margin: 0 1%;
}

.Jk {
    text-align: justify;
}

#Jojoimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.Jojo {
    text-align: justify;
}

#Suzanneimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.Suzanne {
    text-align: justify;
}

#Rainbowimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.Rainbow {
    text-align: justify;
}

#RJimg {
    width: 20vw;
    float: left;
    margin-right: 1%;
}

.RJ {
    text-align: justify;
}