/*{border: 1px solid black;}*/

footer{
    position: relative;
}

#login{
    position: absolute;
    bottom: 0;
}

main form{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

main form label{
    width: 50vw;
    align-self: center;
    font-weight: bolder;
    margin-bottom: 0.5vh;
}

main form input, select{
    width: 50vw;
    height: 3vh;
    margin-bottom: 3vh;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #f07167;
    box-shadow: 0 0 5px #f07167;
}

main form input:focus, select:focus{
    outline-style: none;
    background-color: #fae1dd;
}

button:focus{
    outline-style: none;
}

main form button{
    width: 20vw;
    height: 3.5vh;
    align-self: center;
    border-radius: 10px;
    background-color: #f07167;
    color: white;
    border: 0px;
    font-size: 16px;
}

form button:hover{
    background-color: #c83e4d;
    border: 1px solid #f07167;
    font-weight: bold;
    transition: .5s;
    box-shadow: 0 0 5px #f07167;
}

form .radio input{
    width: auto;
    margin: none;
    box-shadow: none;
}

form .radio{
    display: flex;
    align-items: center;
    width: 50vw;
    margin: auto;
    justify-content: center;
}

form .radio label{
    width: auto;
    padding-right: 1vw;
}

form textarea{
    min-width: 50vw;
    max-width: 50vw;
    min-height: 10vh;
    align-self: center;
    border: 1px solid #f07167;
    box-shadow: 0 0 5px #f07167;
    border-radius: 10px;
}

form textarea:focus{
    outline-style: none;
    background-color: #fae1dd;
}

#igual, #mostrar{
    width: 50vw;
    align-self: center;
    margin-bottom: 3vh;
    font-size: 16px;
}

#senha, #confSenha{
    margin-bottom: 1vh;
}

#mostrar .fas.fa-battery-quarter{
    color: #ff6b6b;
    font-size: 20px;
}

#mostrar .fas.fa-battery-half{
    color: #e9c46a;
    font-size: 20px;
}

#mostrar .fas.fa-battery-three-quarters{
    color: #adc178;
    font-size: 20px;
}

#mostrar .fas.fa-battery-full{
    color: #457b9d;
    font-size: 20px;
}

#igual .far.fa-times-circle{
    color: #ff6b6b;
    font-size: 20px;
}

#igual .far.fa-check-circle{
    color: #457b9d;
    font-size: 20px;
}