footer {
    position: relative;
}

* {
    line-height: 4.5vh;
}

h1 {
    margin: auto;
    width: 80vw;
    margin-bottom: 3vh;
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    font-size: large;
}

p{
    text-align: justify;
}

#img {
    width: 90%;
    margin: 1%;
    border-radius: 2%;
}

#img-esq {
    width: 90%;
    margin: 1%;
    border-radius: 2%;
    margin-left: 8%;
}

.principal {
    margin: auto;
    width: 78vw;
    border: 1px #f07167 solid;
    box-shadow: 0 0 10px 3px #f07167;
    background-color: #eaf2f8;
    padding: 4vh;
}

.box-direita {
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.box-esquerda {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#txt-ini {
    margin: 0 6vh;
}

#txt {
    margin: 1vh 3vh;
}